<ul class="list-group">
  <li (click)="displaymessage(question.question)" [class.list-active]="highlighter == i+1" [style.background]="highlighter == i+1 ? '#ffe1c2' : 'none'"
    *ngFor="let question of questions; index as i;" class="list-group-item">{{question.question}}
    <span [ngStyle]="{
      'color': highlighter == i+1 ? 'red' : 'white',
      'background': highlighter == i+1 ? 'white' : 'red'
   }"
      *ngIf="question.type==='mandatory';else optional" class="badge float-right badge-danger badge-pill">m</span>
    <ng-template #optional><span [ngClass]="{'badge-success': highlighter != i+1,'float-right': highlighter != i+1}"
        class="badge badge-pill">o</span></ng-template>

        <span *angRepeater=2 class="oi oi-star" title="icon name" aria-hidden="true"></span>


    <div [ngSwitch]="question.option">

      <div *ngSwitchCase="'checkbox'" class="text-success">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label angHoverHighlight='brown' class="form-check-label" for="defaultCheck1">
            Option 1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label angHoverHighlight='orange' class="form-check-label" for="defaultCheck2">
            Option 2
          </label>
        </div>
      </div>
      <div *ngSwitchCase="'radiobutton'" class="text-primary"><div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Option 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Option 2
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label" for="exampleRadios3">
          Option 3
        </label>
      </div>
      </div>
      <div *ngSwitchDefault class="text-warning">
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Comments</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
      </div>
    </div>
  </li>
</ul>