<ang-header></ang-header>
<div class="container">
  <main>
    <ang-signup></ang-signup>
    <!-- <ang-login (logged)="login($event)"></ang-login>
    <div *ngIf="islogged" class="jumbotron">
      <h1 class="lead">Welcome To The {{title}} Survey</h1>
      <angRating></angRating>
    </div>
    <ang-trainer-info *ngIf="!islogged"></ang-trainer-info>
    <ang-questions *ngIf="islogged" #quescomp (questionEnd)="quescomp.stopLoop()" [questions]="questions"></ang-questions>
   <ang-questions (questionEnd)="completeQuestion($event)" [questions]="questions"></ang-questions>-->
  </main>
</div>
<ang-footer></ang-footer>